body {
    background-image: url("../images/batman_background.jpg");
    background-size: cover;
    background-color: #777777;
    color: lightblue;
}
header {
    height: 10%;
    position: fixed;
    top: 0px;
}
.charImg {
    border:5px red solid;
    height: 200px;
    width: auto;
    float: left;
    margin: 10px;
}
.combatant{
    width:300px;
    height: auto;
}
.combatant:hover{

}
#combatDiv{
    width:50%;
    display: table;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
#defDiv{
    float: left;
}
#attDiv{
    float: right;
}
#defDiv #attDiv {
    content: "";
    display: table;
    clear: both;
    border: 20px blue dotted;
    height: 20%;
    margin-left: auto;
    margin-right: auto;
}
#attButton{
    margin-top: auto;
    margin-bottom: auto;
}
#gameDiv {
    border-top: 5px yellow solid;
    display: table;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    height: 50%;
    padding-left:auto;
    padding-right: auto;
    filter: grayscale(1);
}