@font-face{
    font-family: SelznickNormal;
    src: url('../fonts/SelznickNormal.otf'), 
    url('../fonts/SelznickNormal.ttf');
}
body {
    font-family: SelznickNormal;
    background-image: url("../images/batman_background.jpg");
    background-size: cover;
    background-color: #777777;
    color: lightblue;
}
header {
    height: 10%;
    position: fixed;
    top: 0px;
}
.charImg {
    height: 200px;
    width: auto;
    float: left;
    margin: 10px;
    filter: grayscale(1);
}
.charImg:hover{
    filter: none;
}
.combatant{
    width:300px;
    height: auto;
    border: aqua 5px solid;
}
.combatant:hover{
    border: red 5px solid;
}
.combatText{
    font-size: 70px;
}
.charInformation{
    font-family: helvetica;
    text-transform: uppercase;
    background-color: #001e31;
    color: white;
}
#title{
    margin-left: 20%;
    font-size: 100px;
}
#combatDiv{
    width:50%;
    display: table;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
#defDiv{
    float: left;
}
#attDiv{
    float: right;
}
#defDiv #attDiv {
    content: "";
    display: table;
    clear: both;
    height: 20%;
    margin-left: auto;
    margin-right: auto;
}
#attButton{
    justify-self: center;
    height: 100px;
    margin-top: 25%
}
#gameDiv {
    display: flex;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    height: 50%;
    padding-left:auto;
    padding-right: auto;
    justify-content: center;
}
